<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body class="d-flex flex-column vh-100">
    <%- include('partials/navbar') %>
    <main class="container mt-5">
        <%- include('partials/flash') %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ticket Details</h5>
                <p class="card-text"><strong>Username:</strong> <%= ticketData.username %></p>
                <p class="card-text"><strong>Prise:</strong> <%= ticketData.prise %></p>
                <p class="card-text"><strong>Ticket ID:</strong> <%= ticketData.ticketId %></p>
                <p class="card-text"><strong>Prise Date:</strong> <%= ticketData.priseDate %></p>
                <p class="card-text"><strong>Prise Category:</strong> <%= ticketData.priseCategory %></p>
                <a href="/prise/<%= ticketData.priseId %>" class="btn btn-primary me-2">View Prize</a>
                
            </div>
        
        </div>
        <div class= 'mb-3'>
            <div class="card-body">

                <!-- ticket lookup form -->
                <form action="/deleteTicket" method="POST">
                    <div class="mb-3">
                        <input type="hidden" name="ticketId" value="<%= ticketData.ticketId  %>">
                    </div>
                    <button type="submit" class="btn btn-primary">Delete Ticket</button>
                </form>
            
                
            </div>

        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>
</html>
